* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

.container, [class*="col-"]{
  border: 1px solid #000;
}

[class*="col-"] {
  height: 100%;
  background-color: pink;
  position: relative;
}

[class*="col-"] > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.row {
  height: 300px;
}

/* .nest {
  padding: 5px;
}
.nest [class*="col-"] {
  background-color: lightcoral;
  border: 1px solid #fff;
} */


.container .row:last-child .col-6 {
  padding: 5px;
}
.container .row:last-child .col-6 > [class*="col-"]{
  background-color: lightcoral;
  border: 1px solid #fff;
}
